<style>
{
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
	background-color: #7371FC;
	padding: 30px;
	text-align: center;
	font-size: 35px;
	color: white;
}

/* Container for flexboxes */
section {
    display: -webkit-flex;
    display: flex;
}

/* Style the navigation menu */
nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #CDC1FF;
    padding: 20px;
}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

nav li a.active {
    background-color: #A594F9;
}

nav li a:hover:not(.active) {
    background-color: #E5D9F2;
}

/* Style the content */
article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #F5EFFF;
    padding: 10px;
}

/* Style the footer */
footer {
    background-color: #7371FC;
    padding: 10px;
    text-align: center;
    color: white;
}
/* Style for table*/
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	empty-cells: show;
}

th {
	height: 50px;
}

/* Style for form */
input[type=text], input[type=password], input[type=email], input[type=number],
input[type=tel], input[type=date] , input[type=datetime-local] 
{
    width: 100%;
    padding: 10px;
    margin: 5px 0 5px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, 
input[type=number]:focus, input[type=tel]:focus, input[type=date]:focus, input[type=datetime-local]:focus
{
    background-color: #dddddd;
    outline: none;
}

input[type=submit]{
	background-color: #7371FC;
    color: white;
    padding: 16px 20px;
    margin: 0px 30px 10px 0px;
    border: none;
    cursor: pointer;
    width: 45%;
    opacity: 0.9;
}
input[type="submit"]:disabled {
    background-color: #dddddd;
}
input[type=submit]:hover{
	opacity: 1;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
}
</style>